*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
text-decoration: none;
font-family: sans-serif;    
}

body{
    background:url("/img/almacenPB2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
}

main{
    width:100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;

}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera {
    width: 100%;
    padding: 20px; /* Se corrigió el padding (antes tenía una coma incorrecta) */
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    backdrop-filter: blur(1px);
    background-color: rgba(0, 128, 255, 0.5);
    border-radius: 8px; /* Se aumentó un poco para mejor estética */
    text-align: center; /* Asegura que el texto del <p> se centre correctamente */
}


.caja__trasera div{
    margin: 180px 250px;
    color:aliceblue;
    transition: all , 500m;
   
}

.caja__trasera p,
.caja__trasera div button {
    margin-top: 30px;
    padding: 10px 40px; /* Corrección de la sintaxis */
    text-align: right; /* Alinea el texto a la derecha */
    display: block; /* Asegura que el <p> respete la alineación */
    width: 100%; /* Para que la alineación tenga efecto en todo el ancho */
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
    

}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #f2f2f2;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #f2f2f2;
    outline: none;
    transition: all 300ms;

}

.caja__trasera button:hover{
    background: #fff;
    color: #46a2fd;

}

.contenedor__login {
    display: flex;
    align-items: center;  /* Centra verticalmente el contenido dentro */
    justify-content: center; /* Centra horizontalmente el contenido dentro */
    width: 100%;
    max-width: 380px;
    position: absolute; /* Posiciona el contenedor respecto al padre */
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%); /* Lo centra completamente */

}


.contenedor__login form{
    width: 100%;
    padding: 80px  30px;
    background: #fff;
    position: absolute;
    border-radius: 20px;

}

.contenedor__login form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46a2fd;

}

.contenedor__login form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border:none ;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor__login form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46a2fd;
    color:white ;
    cursor: pointer;
}

.formulario__login{
    opacity: 1;
    display: block;

}

